{% extends "base.html" %}
{% block content %}
<form action="/result" method="post">
        <table>
                <tr>
                        <td align="right">Shopify account url (with endpoint):</td>
                                <td align="left"><input name="gc_gen_account" type="text" /></td>
                        </tr>
                        <tr>
                                <td align="right">API KEY:</td>
                                <td align="left"><input name="gc_gen_api_key" type="text" /></td>
                        </tr>
                        <tr>
                                <td align="right">API PWD:</td>
                                <td align="left"><input name="gc_gen_api_pwd" type="text" /></td>
                        </tr>
                        <tr>
                                <td align="right">Nr of cards to be created:</td>
                                <td align="left"><input name="gc_cards_nr" type="text" /></td>
                        </tr>
                        <tr>
                                <td align="right">Length of cards :</td>
                                <td align="left"><input name="gc_cards_length" type="text" /></td>
                        </tr>
                        <tr>
                                <td align="right">Value of cards :</td>
                                <td align="left"><input name="gc_cards_value" type="text" /></td>
                        </tr>
                        <tr>
                                <td></td>
                <td><input value="Submit" type="submit" /></td>
                </tr>
            </table>
    </form>
{% endblock %}